.footer__copiright {
    display: inline;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: right;
}

@media screen and (max-width: 767px){
    .footer__copiright {
        text-align: left;
        margin-top: 16px;
    }
}